Привет!<br>
<br>
Тебя приветствует бот созданный для формирования команд на ITAM.Hack<br>
<br>
Выбери формат, в котором ты проходишь регистрацию, если вы есть в аудитории - то Очно, если Онлайн - то Онлайн<br>
